<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
    <div class="col">
        <div class="card h-100">
            {% include img.html src="/assets/img/Artcascade_bg_white.png" alt="Artcascade" class="card-img-top" sizes="(min-width: 768px) 540px, 100vw" %}
            <div class="card-body">
                <h5 class="card-title"><a href="https://artcascade.site">Арткаскад</a></h5>
                <p class="card-text">Платформа для живого коллективного творчества</p>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card h-100">
        {% include img.html src="/assets/img/dom_poetov_logo.jpg" alt="Дом поэтов" class="card-img-top" sizes="(min-width: 768px) 540px, 100vw" %}
        <div class="card-body">
          <h5 class="card-title"><a href="https://dompoetov.com">Дом поэтов</a></h5>
          <p class="card-text">Пространство для творческих событий в Москве</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        {% include img.html src="/assets/img/Quintessence.png" alt="Quintessence" class="card-img-top" sizes="(min-width: 768px) 540px, 100vw" %}
        <div class="card-body">
          <h5 class="card-title"><a href="https://quintessence.pw">Quintessence</a></h5>
          <p class="card-text">Платформа для мастеров уникальных изделий ручной работы</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
            {% include img.html src="/assets/img/Volvox-Logo-Text.png" alt="Volvox" class="card-img-top" sizes="(min-width: 768px) 540px, 100vw" %}
            <div class="card-body">
                <h5 class="card-title"><a href="https://volvox.su">Volvox</a></h5>
                <p class="card-text">Научно-популярный портал с интерактивными объяснениями</p>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card h-100">
            {% include img.html src="/assets/img/PaulusAI.png" alt="PaulusAI" class="card-img-top" sizes="(min-width: 768px) 540px, 100vw" %}
            <div class="card-body">
                <h5 class="card-title"><a href="https://paulus-ai.pavelshlepnev.space">PaulusAI</a></h5>
                <p class="card-text">Автономный ИИ-агент с постоянной памятью, непрерывным обучением и эмоциями</p>
            </div>
        </div>
    </div>
</div>
