<footer class="blog-footer">
    <ul class="nav justify-content-center mb-1">
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/pavel_shlepnev"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/pavelshlepnev/"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/pavelshlepnevarts"><i class="bi bi-facebook"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://vk.com/public93689497"><i class="fab fa-vk"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="mailto:{{ site.email }}"><i class="bi bi-envelope"></i></a></li>
    </ul>
    {% translate_file snippets/footer.html %}
</footer>
