
$primary: #8F2700;
$secondary: #DBAC70;
$light: #fff5e2;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light
);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "./assets/stylesheets/_bootstrap.scss";
@import url(https://unpkg.com/photoswipe@5.2.2/dist/photoswipe.css);