---
title_en: Blog
title_ru: Блог
title: Blog
layout: page
---

<!-- post list -->
{% for post in paginator.posts %}
<div class="row mb-2 d-flex align-items-md-center">
  <div class="col-md-9 order-2 order-md-1">
    <article class="blog-post">
      <span class="small text-secondary">{{ post.category }}</span>
      <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="blog-post-title mb-1">{{ post.title }}</h3></a>
      <p class="blog-post-meta">{{ post.date | date_to_long_string: "ordinal" }}</p>
      {{ post.excerpt }}
    </article>    
  </div>
  <div class="col-md-3 order-1 order-md-2"><img class="img-thumbnail" src="{{ post.image | prepend: site.baseurl }}"></div>
</div>
{% endfor %}

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<nav aria-label="Cascades pages" class="mt-3">
  <ul class="pagination justify-content-center">
      <li class="page-item{% unless paginator.previous_page %} disabled{% endunless %}">
          <a class="page-link" href="{% if paginator.previous_page %}{{ paginator.previous_page_path | relative_url }}{% else %}#{% endif %}"><i class="bi bi-arrow-left"></i></a>
      </li>
      {% for page in (1..paginator.total_pages) %}
      <li class="page-item{% if page == paginator.page %} active{% endif %}"><a class="page-link" href="{% if page == 1 %}{{ '/blog' | relative_url }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">{{ page }}</a></li>
      {% endfor %}
      <li class="page-item{% unless paginator.next_page %} disabled{% endunless %}">
          <a class="page-link" href="{% if paginator.next_page %}{{ paginator.next_page_path | relative_url }}{% else %}#{% endif %}"><i class="bi bi-arrow-right"></i></a>
      </li>
  </ul>
</nav>
{% endif %}