---
title_en: Blog
title_ru: Блог
layout: page
---

<!-- post list -->
{% for post in paginator.posts %}
<div class="row">
  <div class="col-md-9 order-2 order-md-1">
    <article class="blog-post">
      <span class="small text-secondary">{{ post.category }}</span>
      <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="blog-post-title mb-1">{{ post.title }}</h3></a>
      <p class="blog-post-meta">{{ post.date | date_to_long_string: "ordinal" }}</p>
      {{ post.excerpt }}
    </article>    
  </div>
  <div class="col-md-3 order-1 order-md-2"><img class="img-thumbnail" src="{{ post.picture | prepend: site.baseurl }}"></div>
</div>
{% endfor %}

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagenum">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/blog">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}