<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
    <div class="col">
        <div class="card h-100">
            {% include img.html src="/assets/img/PaulusAI.png" alt="PaulusAI" class="card-img-top" sizes="(min-width: 768px) 540px, 100vw" %}
            <div class="card-body">
                <h5 class="card-title"><a href="https://github.com/Pavel6625/PaulusAI">PaulusAI</a></h5>
                <p class="card-text">An autonomous AI agent with persistent memory, continuous learning and emotions</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            {% include img.html src="/assets/img/Artcascade_bg_white.png" alt="Artcascade" class="card-img-top" sizes="(min-width: 768px) 540px, 100vw" %}
            <div class="card-body">
                <h5 class="card-title"><a href="https://artcascade.site">Artcascade</a></h5>
                <p class="card-text">A platform for live collective creation</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            {% include img.html src="/assets/img/Volvox-Logo-Text.png" alt="Volvox" class="card-img-top" sizes="(min-width: 768px) 540px, 100vw" %}
            <div class="card-body">
                <h5 class="card-title"><a href="https://volvox.su">Volvox</a></h5>
                <p class="card-text">A popular science portal with interactive explainers</p>
            </div>
        </div>
    </div>
</div>
