---
layout: default
---

<main class="container my-4">
    <article>
        <div class="article-header">
            <span class="small text-secondary">{{ page.category }}</span>
            <h2>{{ page.title }}</h2>
            <p class="lead">{{ page.description }}</p>
            <p><i class="bi bi-calendar"></i> {{ page.date | date_to_long_string: "ordinal" }}</p>
        </div>
        <div class="article-body mt-4">
            {% if page.picture %}<img class="img-fluid mb-3" style="max-height:600px;" src="{{ page.picture | prepend: site.baseurl }}" />{% endif %}
            {{ content }}
        </div>
    </article>
</main>