---
layout: default
---

<main class="container my-4">
    <article>
        <div class="article-header">
            <span class="small text-secondary">{{ page.category }}</span>
            <h2>{{ page.title }}</h2>
            <p class="lead">{{ page.description }}</p>
            <p><i class="bi bi-calendar"></i> {{ page.date | date_to_long_string: "ordinal" }}</p>
        </div>
        <div class="article-body mt-4">
            {% if page.image %}<img class="img-fluid mb-3" style="max-height:600px;" src="{{ page.image | prepend: site.baseurl }}" />{% endif %}
            {{ content }}
        </div>
    </article>
    <div class="related">
        <h3>{% t related %}</h3>
        <div class="row">
          {% assign posts = site.related_posts | sample: 2 %}
          {% for post in posts %}
          <div class="col">
            <div class="card">
              <div class="row g-0">
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h5>
                    <p class="card-text">{{ post.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.date | date_to_long_string: "ordinal" }}</small></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <img src="{{ post.image }}" class="img-fluid rounded-end">
                </div>
              </div>
            </div>  
          </div>
          {% endfor %}
        </div>
    </div>
</main>

<script type="module" src="/assets/js/photoswipe.js"></script>